<div>
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col"><h5>Filters</h5></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">JSN</span>
                </div>
                <input
                  id="jsnFilter"
                  name="jsnFilter"
                  [(ngModel)]="jsnFilter"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Shop</span>
                </div>
                <select class="form-control" [(ngModel)]="shopFilter">
                  <option *ngFor="let shop of shops" [value]="shop.shopId">
                    {{ shop.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Measurement Point</span>
                </div>

                <input
                  type="text"
                  class="form-control"
                  id="measurementPointFilter"
                  name="measurementPointFilter"
                  [(ngModel)]="measurementPointFilter"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">From Date</span>
                </div>
                <input
                  type="date"
                  class="form-control"
                  id="fromDateFilter"
                  name="fromDateFilter"
                  [(ngModel)]="fromDateFilter"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">To Date</span>
                </div>
                <input
                  type="date"
                  class="form-control"
                  id="toDateFilter"
                  name="toDateFilter"
                  [(ngModel)]="toDateFilter"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row mb-2">
            <div class="col">
              <button
                (click)="onApplyFilterClick()"
                type="button"
                class="btn btn-info w-100"
              >
                Apply
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-light w-100"
                (click)="onClearFilterClick()"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div
        class="table-responsive border table-header-fixed"
        style="max-height: 65vh"
      >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Vehicle</th>
              <th scope="col">JSN</th>
              <th scope="col">Measurement Point</th>
              <th scope="col">Shop</th>
              <th scope="col">Gap</th>
              <th scope="col">Flush</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let measurement of measurements">
              <th scope="row">{{ measurement.id }}</th>
              <td>{{ measurement.vehicle?.vehicleModel }}</td>
              <td>{{ measurement.vehicle?.jsn }}</td>
              <td>{{ measurement.measurementPoint?.name }}</td>
              <td>{{ measurement.shop?.name }}</td>
              <td>{{ measurement.gap }}</td>
              <td>{{ measurement.flush }}</td>
              <td>{{ measurement.date | date: "medium" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item"
            [class.active]="isPageActive(number)"
            *ngFor="let number of pageNumbers"
          >
            <a class="page-link" (click)="onPageClick(number)" href="#">{{
              number
            }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
